<?xml version="1.0" encoding="UTF-8"?>
<proxyConfiguration>
    <maxFileSize>10</maxFileSize>
    <toKeep>20</toKeep>
    <allowedFileTypes>
        <fileType>.txt</fileType>
        <fileType>.pdf</fileType>
        <fileType>.jpg</fileType>
    </allowedFileTypes>
    <forbiddenSites>
        <site>
            <url>.uaic.ro</url>
            <accessPolicy>
                <dayRange>Monday-Friday</dayRange>
                <timeRange>08-20</timeRange>
                <clientDomain>.ro</clientDomain>
            </accessPolicy>
            <url>.com</url>
            <accessPolicy>
                <dayRange>Monday Tuesday</dayRange>
                <timeRange>07-20</timeRange>
                <clientDomain>localhost</clientDomain>
            </accessPolicy>
        </site>
    </forbiddenSites>
</proxyConfiguration>
